
*.dll
*.pdb
*.xml
*.config
files/\[UTILITY\] KKManager/KKManager.exe
*.unity3d
*.resource
files/\[UTILITY\] KKManager/StandaloneUpdater.exe
files/\[UTILITY\] KKManager/README.md
files/\[UTILITY\] KKManager/ModpackTool/pngcrush_1_8_11_w64.exe
files/\[UTILITY\] KKManager/LICENSE
files/\[UTILITY\] KKManager/KKManager.settings
*.txt
files/version
files/UserData/coordinate/kpOnsen.png
files/UserData/coordinate/kpLiveStage.png
files/mods/Joan6694DynamicBoneColliders.zipmod
files/Launcher.exe
files/BepInEx/Translation/ru/Text/RU_Translation_Text.zip
files/BepInEx/plugins/RuntimeUnityEditor/README.md
files/BepInEx/plugins/RuntimeUnityEditor/LICENSE
.vs/KKIRV2_Patch/v17/.wsuo
.vs/VSWorkspaceState.json
files/\[UTILITY\] KKManager/SB3UGS/FX/NormalMap.fxo
files/\[UTILITY\] KKManager/SB3UGS/FX/color.fxo
files/\[UTILITY\] KKManager/SB3UGS/plugins/BackTrans-Grey.png
files/\[UTILITY\] KKManager/SB3UGS/plugins/BackTrans-Spiral.png
files/\[UTILITY\] KKManager/SB3UGS/SB3Utility.chm
files/\[UTILITY\] KKManager/SB3UGS/SB3UtilityGUI.exe
files/\[UTILITY\] KKManager/SB3UGS/SB3UtilityGUI.vshost.exe.manifest
files/\[UTILITY\] KKManager/SB3UGS/SB3UtilityScript.exe
files/\[UTILITY\] KKManager/UpdateSources
files/BepInEx/config/com.deathweasel.bepinex.hcharaadjustment.cfg
files/BepInEx/config/org.bepinex.plugins.ShaderManagementTool.cfg
